
html {background: midnightblue; 
}

h1 {
	color: white; 
	font-family: cursive; 
	font-size: 55px
}
h2 {
	color: seashell;
	font-family: cursive;
	font-size: :40px;
}
p {
	color: oldlace; 
	font-family: cursive; 
	font-size: 30px
}

